/*Styling Sheet for home.html*/
* {
  box-sizing: border-box;
}


body {
  background-color: grey;
  font-family: Arial;
  font-size: 15pt;
  margin: 0px auto;
}

#header {
  position: fixed;
  left:0px;
  top:0px;
  width: 100vw;
  height: 20vh;
  background-color: #444444;
  text-align: center;
  color: white;
}

/*Navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  text-align: center;
  position: relative;
}
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #333;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/*Map features*/
#map {
  border: 2px solid black;
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  height: 40vh;
  padding: 10px;
  margin: 15px;
  background-color: khaki;
}

#getDepartMsg {
  border: 2px solid black;
  position: fixed;
  bottom: 10vh;
  left: 0;
  width: 40vw;
  height: 27vh;
  background-color: red;
  overflow-y: scroll;
}
#createDepartMsg {
  border: 2px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40vw;
  height: 75px;
  background-color:yellowgreen;
}
.message {
  width: 500px;
  height: fit-content;
}
#getDispatchMsg {
  border: 2px solid black;
  position: fixed;
  bottom: 10vh;
  right: 0;
  width: 40vw;
  height: 27vh;
  background-color: lawngreen;
  overflow-y: scroll;
}
#createDispatchMsg {
  border: 2px solid black;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40vw;
  height: 75px;
  background-color:yellowgreen;
}