*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  width: 100%;
}
#header{
  background: #991919;
  min-height: 10%;
  min-width: 100%;
  position: absolute;
}
#logo{
  width: 10%;
  height: 5vw;
  float: left;
  border-radius: 10px;
}
#title{
  font-weight: bolder;
  font-size: 3vw;
  float: left;
  padding-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-top: 1%;
}
#header-out{
  min-height: 6vw;
  min-width: 100%;
  background: #2E409E;
  position: absolute;
}
#header-out2 {
  text-align: center;
  top: 6vw;
  min-height: 3.5vw;
  min-width: 100%;
  background: #e2e2e2;
  position: absolute;
  justify-content:  center;
  display: flex;
  align-items: center;
  padding: 30px, 10%;
}
.nav_links{
  list-style: none;
}
.nav_links li{
  display: inline-block;

}

.nav_links li a{
  transition: all 0.3s ease 0s;
  padding-left: 30px;
  padding-right: 30px;
  display: block;

}
.nav_links li a:hover{
  transition: all 0.3s ease 0s;
  padding-left: 40px;
  padding-right: 40px;
  display: block;
  color: blue;

}
li,a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 30px;
  color: #708090;
  text-decoration: none;
}

#content{
  position: absolute;
  background: gray;
  top: 19vh;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
  padding: 8%;
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}
#main {
    width: max-content;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px 28px;
    background: #323131;
    border-radius: 4px;
    border: 1px solid #302d2d;
    animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes popup {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #e7e7e7;
}
.input-parent {
    display: block;
    margin-bottom: 20px;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
}
.input-parent input {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    background: gray;
    border: none;
    color: #c7c7c7;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}
.input-parent input:hover {
    background: #404040;
}
.input-parent input:focus {
    box-shadow: 0px 0px 0px 1px #0087ff;
}
button {
    padding: 10px 18px;
    font-size: 15px;
    background: #2e409e;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: white;
    transition: all 0.2s ease;
}
button:hover {
    opacity: 0.9;
}
button:focus {
    box-shadow: 0px 0px 0px 3px black;
}
#register{
  background: #323131;
  color: white;
  padding: 5px;
}
